hero{
 
height:100vh;
 
background-image:url("../images/Deich mit Leuchtturm.jpg");
 
background-size:cover;
background-position:center;
 
display:flex;
justify-content:center;
align-items:center;
 
}
