*{
margin:0;
padding:0;
box-sizing:border-box;
}
 
.hero{
height:100vh;
 
background-image:url("/Ferienwohnung-luehe/Bilder/Deich-mit-Leuchtturm.jpg");
 
background-size:cover;
background-position:center;
background-repeat:no-repeat;
 
display:flex;
justify-content:center;
align-items:center;
}
 
.hero-text{
background:rgba(0,0,0,0.5);
 
padding:40px;
 
border-radius:20px;
 
text-align:center;
 
color:white;
}
 
.hero-text h1{
font-size:64px;
margin-bottom:20px;
}
 
.hero-text p{
font-size:24px;
}
